

#header{padding:20px 0; background: none;}
#group_cabecera{float:left; margin:0 0 20px 0;}
#group_cabecera img {max-width:300px; background-color: none;}
#group_cabecera h2{font-weight:normal;font-size:20px; font-family: sans-serif;
font-style: oblique;}
#group_cabecera h2 strong{font-weight:normal;font-size:26px; color: #c98301;}


#header nav{display:block; float:right; margin:10px 0 0 0; padding:20px 0; 
           color:#C0BAB6; background-color:#ffffff62; border: 1px rgb(250, 155, 46)}
#header ul{padding:0 20px;}
#header li{display:inline; margin-right:25px; text-transform:uppercase;}
#header li.last{margin-right:0;}
#header li a{color:#C0BAB6;}
#header li a:hover{color:#FF9900;}


.clear:after{
    content:"."; 
    display:block;  
    clear:both; 
    visibility:hidden; 
    } 

div.base{
    display:block; 
    width:100%; 
    margin:0; 
    padding:0; 
    text-align:left;
    }    

.acceso{
    display:block; 
    float:left; 
    margin:0 30px 0 0; 
       }

.last{margin-right:0;} 


body{
    margin:0; 
    padding:0; 
    font-size:13px; 
    font-family:Georgia, "Times New Roman", Times, serif; 
    color:#919191;
    }  
    
#submit{background-color: rgb(224, 139, 41); color: cornsilk;

}


/* GENERAL*/
#header, #contenido, #footer, #body,#copyright{display:block; width:960px; margin:0 auto;}
h1 {font-family: Calibri;font-size:30px; color: #636260; padding-top: 30px;}
h1 strong{font-size:30px; color: #d89313;}
h2{font-weight:normal; font-style:italic; line-height:normal;}
article, figure, footer, header, nav, section{display:block;}

.cabecera, .cabecera a{color:#C0BAB6; background: url(https://image.freepik.com/vector-gratis/conexion-internet-sentido-abstracto-ciencia-fondo_41981-1306.jpg);}   
.row4, .row4 a{color:#919191; background: url(https://image.freepik.com/vector-gratis/conexion-internet-sentido-abstracto-ciencia-fondo_41981-1306.jpg);}
.row2{color:#353434; background-color:#FFFFFF; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}



/* FOOTEER */
.base #copyright{padding:30px 0; font-size:12px; line-height:1.4em; background:none;}


/* CONTACTO FOOTER */

#copyright{padding:20px 0;}
#copyright p{margin:0; padding: 0;}
#copyright a{color:#FF9900;}

.foot_left{float:left;}
.foot_right{float:right;}
