<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/styles/style.css" />
    <title>{% block titulo %}{% endblock %}</title>
</head>

<body>
        <header id="header" class="clear">
            <div>
                <br>
                <h2 id="tituli">DEMOTOY</h2>
                <br>
                <br>
                {% block menu %}{% endblock %}}
            </div>    
        </header>


    <main>
        <div class="contenido-main">
            {% block contenido %}{% endblock %}
        </div>    
    </main>



    <div class="contenido-footer" >
        <footer id="copyright" class="clear">
        <p class="foot_left">Copyright &copy; 2020 <a href="principal.html">Demotoy</a> | All Rights Reserved</p>
        </p>
        </footer>
    </div>
</body>
</html>
