<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/styles/style.css" />
    <title>{% block titulo %}{% endblock %}</title>
</head>

<body>
        <header id="header" class="clear"> 
            <div class="fondo-encabezado" >
                <div class="botones-header">
                <div id="group_cabecera">
            </div>

                <h2>Servicio Web</h2>
            </div>    
        </header>


    <main>
        <div>
            {% block contenido %}{% endblock %}
        </div>    
    </main>



    <div class="contenido-footer">
        <footer id="copyright" class="clear">
        <p class="foot_left">Copyright &copy; 2020 <a href="principal.html">RoboKat</a> | All Rights Reserved</p>
        <p class="foot_right"><a href="www.facebook.com"><img src="images/face.png" width="35" alt="facebook"></a>
                              <a href="www.twitter.com"><img src="images/twit.png" width="50" alt="twitter"></a> 
                              <a href="www.instagram.com"><img src="images/inst.png" width="35" alt="instagram"></a>
        </p>
        </footer>
    </div>
</body>
</html>
