{% extends "base.html" %}
{% block titulo %}Index{% endblock %}
{% block contenido %}


<div class="contenido-main" id="index-image">
  <div id="articulo-index">
    <div id="form-index">
      <form action="/" method="POST">
        <h2 id="form-label" text-align="right">Log In</h2>
        <br>
        <div id="form-group">
          <label id="form-label">Username: </label>
          <input type="text" class="form-control" id="username" name="nombre" placeholder="Usuario">
        </div>
        <br>
        <div class="form-group">
          <label id="form-label">Password: </label>
          <input type="password" class="form-control" id="password" name="contrasenia" placeholder="Contraseña">
        </div>
        <br>
        <button type="submit" id="boton">Sing In</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      
      <form method="GET" action="/registro" id= "form-index">
            <button id = "boton" type="submit" >Registro</button>
      </form>
    </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

