{% extends "base.html" %}
{% block titulo %}Monitorizacion{% endblock %} 



{% block contenido %}
<div class="contenido-main" id="moni-image">
    <div id="articulo-index">
        <h2 id="form-label">Monitorizacion</h2>

<table class="tabla">
    <colgroup>
             <col span="4">
         <thead>
             <tr>
                 <td>Fecha</td>
                 <td>Temperatura</td>
             </tr>
         </thead>

         <tbody>
             {% for temp in mediciones_temperatura %}
             <tr>
                 <td>{{temp.fecha}}</td>
                 <td>{{temp.temperatura_ambiente}}</td>
                 <td><a id="eliminar">
                         <img src="https://static.vecteezy.com/system/resources/previews/000/442/652/non_2x/delete-vector-icon.jpg" width="38px">
                 </a></td>
                 <td><a id="editar"></a>
                         <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-pencil-icon-png-image_4152536.jpg" width="35px">
                 </a></td>

             </tr>
             {% endfor %}
         </tbody>
</table>



<table class="tabla">
    <colgroup>
             <col span="4">
         <thead>
             <tr>
                 <td>Fecha</td>
                 <td>Eje X</td>
                 <td>Eje Y</td>
                 <td>Eje Z</td>
             </tr>
         </thead>

         <tbody>
             {% for acc in medicionAcelerometro %}
             <tr>
                 <td>{{acc.fecha}}</td>
                 <td>{{acc.eje_x}}</td>
                 <td>{{acc.eje_y}}</td>
                 <td>{{acc.eje_z}}</td>
                 <td><a id="eliminar">
                         <img src="https://static.vecteezy.com/system/resources/previews/000/442/652/non_2x/delete-vector-icon.jpg" width="38px">
                 </a></td>
                 <td><a id="editar">
                         <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-pencil-icon-png-image_4152536.jpg" width="35px">
                 </a></td>

             </tr>
             {% endfor %}
         </tbody>
</table>
</div>
</div>
{% endblock %}