{% extends "base.html" %}
{% block titulo %}Index{% endblock %} 
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Inicio Sesion</h2>
      <p>Temperatura CPU: {{ cpu }}</p>
      <p>Temperatura Sensor: {{ temperatura_externa }}</p>
      <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Log out</button>
      </form>
      <form action="/principal" method="POST">
        <button type="submit" class="btn btn-primary">Apagar luz</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}