{% extends "base.html" %}
{% block titulo %}Principal{% endblock %} 
{% block menu %} 
<nav id="nav">
  <a href="http://127.0.0.1:5000/index" ><span>Inicio</span></a>
  <a href="http://127.0.0.1:5000/registro" ><span>Registro</span></a>
  <a href="http://127.0.0.1:5000/monitorizacion" ><span>Monitorizacion</span></a>
</nav>
{% endblock %} 

{% block contenido %}

<div class="contenido-main" id="prin-image">
  <h2 color="white">Pagina principal</h2>
  <br>
<div id = "LogOut" >
  <form action="/" method="GET">
    <button type="submit" id="boton">Log out</button>
  </form>
</div>


  <div id="articulo-index">
    <div id="form-index">
      <br>
      <form action="/principal" method="POST">
        <div class="form-group">
          <label id="form-label">Username</label>
          <input type="text" class="form-control" name="nombre" value={{ usuario.nombre }}>
        </div>
        <br>
        <div class="form-group">
          <label id="form-label">Email</label>
          <input type="email" class="form-control" name="email" value={{ usuario.email }}>
        </div>
        <br>
        <div class="form-group">
          <label id="form-label">Nombre completo</label>
          <input type="text" class="form-control" name="nombre_completo" value={{ usuario.nombre_completo }}>
        </div>
        <br>
        <div class="form-group">
          <label id="form-label">Numero telefono</label>
          <input type="text" class="form-control" name="numero_telefono" value={{ usuario.numero_telefono }}>
        </div>
        <br>
        <div class="form-group">
          <label id="form-label">Direccion</label>
          <input type="text"  class="form-control" name="direccion" value={{ usuario.direccion }}>
        </div>
        <br>
        <button type="submit" id="boton">Modificar cuenta</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
      <br>
      <form action="/monitorizacion" method="GET">
        <button type="submit" id="boton">Monitorizacion</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}