{% extends "base.html" %}


{% block titulo %}Principal{% endblock %} 

{% block menu %} 

<nav id="nav">
  <a href="http://127.0.0.1:5000/index" ><span>Inicio</span></a>
  <a href="http://127.0.0.1:5000/registro" ><span>Registro</span></a>
  <a href="http://127.0.0.1:5000/monitorizacion" ><span>Monitorizacion</span></a>
</nav>

{% endblock %} 







{% block contenido %}

<div class="contenido-main" id="prin-image">

  <h2>Principal</h2>
  <p>Temperatura CPU: {{ cpu }}</p>

  <br>
  <div id="articulo-index">
    <div id="form-index">
      <form action="/" method="GET">
        <button type="submit" id="boton">Log out</button>
      </form>

      <form action="/principal" method="POST">
        <div class="form-group">
          <label>Username</label>
          <input type="text" id="form-label" id="username" name="nombre" value={{ usuario.nombre }}>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" id="form-label" id="email" name="email" value={{ usuario.email }}>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" id="form-label" id="password" name="contrasenia" value={{ contrasenia }}>
        </div>
        <div class="form-group">
          <label>Nombre completo</label>
          <input type="text" id="form-label" id="password" name="nombre_completo" value={{ usuario.nombre_completo }}>
        </div>
        <div class="form-group">
          <label>Numero telefono</label>
          <input type="text" id="form-label" id="password" name="numero_telefono" value={{ usuario.numero_telefono }}>
        </div>
        <div class="form-group">
          <label>Direccion</label>
          <input type="text" id="form-control" id="password" name="direccion" value={{ usuario.direccion }}>
        </div>
        <button type="submit" id="boton">Modificar cuenta</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}