{% extends "base.html" %}
{% block titulo %}Registro{% endblock %} 
{% block contenido %}


<div class="contenido-main" id="index-image">
  <div id="articulo-index">
      <h2 id="form-label">Registro de usuario</h2>
      <br>

      <form action="/registro" method="POST">
        <div class="form-group">
          <label id = "form-label">Username</label>
          <input type="text" class="form-control" id="username" name="nombre" placeholder="Usuario">
        </div>
        <br>
        <div class="form-group">   
          <label id = "form-label">Email   </label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <br>
        <div class="form-group">   
          <label id = "form-label">Password</label>
          <input type="password" class="form-control" id="password" name="contrasenia" placeholder="Contraseña">
        </div>
        <br>
        <div class="form-group">   
          <label id = "form-label">Nombre  </label>
          <input type="text" class="form-control" id="password" name="nombre_completo" placeholder="Nombre completo">
        </div>
        <br>
        <div class="form-group">   
          <label id ="form-label"> Telefono</label>
          <input type="text" class="form-control" id="password" name="numero_telefono" placeholder="Telefono">
        </div>
        <br>
        <div class="form-group">   
          <label id = "form-label">Direccion</label>
          <input type="text" class="form-control" id="password" name="direccion" placeholder="Direccion Ej; Calle Kutxi..N*2">
        </div>
        <br>
        <button type="submit" id="boton">Registrarse</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      
      <br>
      <form action="/" method="GET">
        <button type="submit" id="boton">Volver</button>
      </form>
    </form>
    </div>
  </div>
</div>
{% endblock %}